@use "sass:color";
@use '../variables' as *;

.btn {
    border: none;
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-base;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &--primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: color.adjust($primary-color, $lightness: -10%);
        }

        &:active {
            background-color: color.adjust($primary-color, $lightness: -20%);
        }
    }

    &--secondary {
        background-color: $secondary-color;
        color: white;

        &:hover {
            background-color: color.adjust($secondary-color, $lightness: -10%);
        }

        &:active {
            background-color: color.adjust($secondary-color, $lightness: -20%);
        }
    }

    &--small {
        font-size: 0.8rem;
        padding: $spacing-sm * 0.8 $spacing-md * 0.8;
    }

    &--medium {
        font-size: 1rem;
        padding: $spacing-sm $spacing-md;
    }

    &--large {
        font-size: 1.2rem;
        padding: $spacing-sm * 1.2 $spacing-md * 1.2;
    }

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}
