@use "sass:math";
@use '../variables' as *;

.form-group {
    margin-bottom: $spacing-sm;
    display: flex;
    align-items: center;
}

.checkbox,
.radio {
    margin-right: math.div($spacing-sm, 2);
}
